In [1]:
#How to find datatype of a variable.
a = 10
name = 'jony'
salary = 2583.25
print(type(a))
print(type(name))
print(type(salary))

<class 'int'>
<class 'str'>
<class 'float'>

In [8]:
#in string for finding the charcters using index method we have to give the values within the sqaure brackets
str1="This is string variable to note done"
str2='Never clear'
print(str1[0])
print(str2[-1])

T
r

In [11]:
# HOw to extract this from the str1
print(str1[0:5])

This

In [15]:
# Lets us dosome opertions using string
str = "Operations"
str.find('ra')
str.replace('ions','ing')

'Operating'

In [1]:
str = "arrange, arrangement, arranging"
str.split(',')

['arrange', ' arrangement', ' arranging']

In [2]:
str = "opertation"
str.count('o')

2

In [9]:
str.upper()

'OPERTATION'

In [6]:
str.count('o')

2

In [10]:
str.count('O')

0

In [11]:
str1 = str.upper()

In [14]:
str1.count("O")

2

In [18]:
str = '@dgghgh#$234df#'
max(str)

'h'

In [17]:
min(str)

'#'

In [20]:
#cncatinating the string in tuples within ()
mytuple = ('a','b','c','d')
mytuple1 = ('e','f','g','h')
mytuple += mytuple1
print(mytuple)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [21]:
#Repeatation
mytuple*4

('a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h')

In [22]:
mytuple[1]

'b'

In [33]:
mytuple[0:7]

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [ ]:
mytuple = ('a','b','c','d','f','g')

In [34]:
mytuple[1:5]

('b', 'c', 'd', 'e')

In [53]:
#list
mylist = ['a',2,2.5,5.69,'salary data']
mylist1 = ['python','20','1254.25']
mylist += mylist1
print(mylist)

['a', 2, 2.5, 5.69, 'salary data', 'python', '20', '1254.25']

In [54]:
print(mylist)

['a', 2, 2.5, 5.69, 'salary data', 'python', '20', '1254.25']

In [57]:
mylist*3

['a',
 2,
 2.5,
 5.69,
 'salary data',
 'python',
 '20',
 '1254.25',
 'a',
 2,
 2.5,
 5.69,
 'salary data',
 'python',
 '20',
 '1254.25',
 'a',
 2,
 2.5,
 5.69,
 'salary data',
 'python',
 '20',
 '1254.25']

In [64]:
mylist = ['a',2,2.5,5.69,'salary data']
print(mylist)
mylist[1:5]

['a', 2, 2.5, 5.69, 'salary data']

[2, 2.5, 5.69, 'salary data']

In [65]:
mylist.append("14587")

In [66]:
print(mylist)

['a', 2, 2.5, 5.69, 'salary data', '14587']

In [72]:
mylist1=['c','d']
mylist.append(mylist1)
print(mylist)

['a', 2, 2.5, 5.69, 'salary data', ['c', 'd']]

In [77]:
#i want to inseret a number before 5.
mylist.insert(4, 78)

In [78]:
print(mylist)

['a', 2, 2.5, 78.56, 78, 78.56, 5.69, 'salary data', ['c', 'd']]