In [28]:
import pandas as pd
sp = pd.read_csv("C:/Users/etiru/Downloads/ds_sp_projects/mrg_loan.csv")
print(sp)

    S.no   Name       Purpuse  Total Amount  Interest  \
0    1.0  Durga  Siri Marrage       50000.0       2.0
1    NaN    NaN           NaN       50000.0       2.0
2    NaN    NaN           NaN       47000.0       2.0
3    NaN    NaN           NaN       44000.0       2.0
4    NaN    NaN           NaN       41000.0       2.0
5    NaN    NaN           NaN       38000.0       2.0
6    NaN    NaN           NaN       35000.0       2.0
7    NaN    NaN           NaN       32000.0       2.0
8    NaN    NaN           NaN       29000.0       2.0
9    NaN    NaN           NaN       26000.0       2.0
10   NaN    NaN           NaN       23000.0       2.0
11   NaN    NaN           NaN       20000.0       2.0
12   NaN    NaN           NaN       17000.0       2.0
13   NaN    NaN           NaN       14000.0       2.0
14   NaN    NaN           NaN       11000.0       2.0
15   NaN    NaN           NaN        8000.0       2.0
16   NaN    NaN           NaN        5000.0       2.0
17   NaN    NaN           NaN        2000.0       2.0
18   NaN    NaN           NaN           NaN       NaN
19   NaN    NaN           NaN           NaN       NaN
20   NaN    NaN           NaN           NaN       NaN
21   NaN    NaN           NaN           NaN       NaN
22   NaN    NaN           NaN           NaN       NaN
23   NaN    NaN           NaN           NaN       NaN
24   NaN    NaN           NaN           NaN       NaN

    Total interest to pay  every month                     Month  Amount Paid  \
0                               1000.0                       Jan          NaN
1                               1000.0                       Feb       3000.0
2                                940.0                       Mar       3000.0
3                                880.0                       Apr       3000.0
4                                820.0                       May       3000.0
5                                760.0                       Jun       3000.0
6                                700.0                       Jul       3000.0
7                                640.0                       Aug       3000.0
8                                580.0                       Sep       3000.0
9                                520.0                       Oct       3000.0
10                               460.0                       Nov       3000.0
11                               400.0                       Dec       3000.0
12                               340.0                       Jan       3000.0
13                               280.0                       Feb       3000.0
14                               220.0                       Mar       3000.0
15                               160.0                       Apr       3000.0
16                               100.0                       May       3000.0
17                                40.0                       Jun       2000.0
18                                 NaN         Total Paid Amount      58840.0
19                                 NaN                       NaN          NaN
20                                 NaN                       NaN          NaN
21                                 NaN                       NaN          NaN
22                                 NaN  Total Amount Have to Pay          NaN
23                                 NaN                       NaN          NaN
24                                 NaN                       NaN          NaN

     Total  Unnamed: 9          Unnamed: 10      Unnamed: 11
0      NaN         NaN  extra interest paid  sumof interest
1   4000.0      4000.0                 1200             3800
2   3940.0      4000.0                  NaN              NaN
3   3880.0      4000.0                  NaN              NaN
4   3820.0      4000.0                  NaN              NaN
5   3760.0      4000.0                  NaN              NaN
6   3700.0      4000.0                  NaN              NaN
7   3640.0      4000.0                  NaN              NaN
8   3580.0      4000.0                  NaN              NaN
9   3520.0      4000.0                  NaN            48000
10  3460.0      4000.0                  NaN              NaN
11  3400.0      4000.0                  NaN              NaN
12  3340.0      4000.0                  NaN              NaN
13  3280.0      4000.0                  NaN              NaN
14  3220.0      4000.0                  NaN              NaN
15  3160.0      4000.0                  NaN              NaN
16  3100.0      4000.0                  NaN              NaN
17  2040.0      4000.0                  NaN              NaN
18     NaN     68000.0                  NaN              NaN
19     NaN         NaN                  NaN              NaN
20     NaN         NaN                  NaN              NaN
21     NaN         NaN                  NaN              NaN
22     NaN         NaN                  NaN              NaN
23     NaN         NaN                 12.5              NaN
24     NaN         NaN                12500              NaN

In [35]:
pm = open("C:/Users/etiru/Downloads/ds_sp_projects/mrg_loan.csv","r")
print(pm.read())

ï»¿S.no,Name,Purpuse,Total Amount,Interest,Total interest to pay  every month,Month,Amount Paid,Total,,,
1,Durga,Siri Marrage,50000,2,1000,Jan,,,,extra interest paid,sumof interest
,,,50000,2,1000,Feb,3000,4000,4000,1200,3800
,,,47000,2,940,Mar,3000,3940,4000,,
,,,44000,2,880,Apr,3000,3880,4000,,
,,,41000,2,820,May,3000,3820,4000,,
,,,38000,2,760,Jun,3000,3760,4000,,
,,,35000,2,700,Jul,3000,3700,4000,,
,,,32000,2,640,Aug,3000,3640,4000,,
,,,29000,2,580,Sep,3000,3580,4000,,
,,,26000,2,520,Oct,3000,3520,4000,,48000
,,,23000,2,460,Nov,3000,3460,4000,,
,,,20000,2,400,Dec,3000,3400,4000,,
,,,17000,2,340,Jan,3000,3340,4000,,
,,,14000,2,280,Feb,3000,3280,4000,,
,,,11000,2,220,Mar,3000,3220,4000,,
,,,8000,2,160,Apr,3000,3160,4000,,
,,,5000,2,100,May,3000,3100,4000,,
,,,2000,2,40,Jun,2000,2040,4000,,
,,,,,,Total Paid Amount,58840,,68000,,
,,,,,,,,,,,
,,,,,,,,,,,
,,,,,,,,,,,
,,,,,,Total Amount Have to Pay,,,,,
,,,,,,,,,,12.5,
,,,,,,,,,,12500,

In [42]:
pm = open("C:/Users/etiru/Downloads/ds_sp_projects/mrg_loan.csv","r")
print(pm.readline())

ï»¿S.no,Name,Purpuse,Total Amount,Interest,Total interest to pay  every month,Month,Amount Paid,Total,,,

In [41]:
pm = open("C:/Users/etiru/Downloads/ds_sp_projects/mrg_loan.csv","r")
for x in pm:
    print(x)

ï»¿S.no,Name,Purpuse,Total Amount,Interest,Total interest to pay  every month,Month,Amount Paid,Total,,,

1,Durga,Siri Marrage,50000,2,1000,Jan,,,,extra interest paid,sumof interest

,,,50000,2,1000,Feb,3000,4000,4000,1200,3800

,,,47000,2,940,Mar,3000,3940,4000,,

,,,44000,2,880,Apr,3000,3880,4000,,

,,,41000,2,820,May,3000,3820,4000,,

,,,38000,2,760,Jun,3000,3760,4000,,

,,,35000,2,700,Jul,3000,3700,4000,,

,,,32000,2,640,Aug,3000,3640,4000,,

,,,29000,2,580,Sep,3000,3580,4000,,

,,,26000,2,520,Oct,3000,3520,4000,,48000

,,,23000,2,460,Nov,3000,3460,4000,,

,,,20000,2,400,Dec,3000,3400,4000,,

,,,17000,2,340,Jan,3000,3340,4000,,

,,,14000,2,280,Feb,3000,3280,4000,,

,,,11000,2,220,Mar,3000,3220,4000,,

,,,8000,2,160,Apr,3000,3160,4000,,

,,,5000,2,100,May,3000,3100,4000,,

,,,2000,2,40,Jun,2000,2040,4000,,

,,,,,,Total Paid Amount,58840,,68000,,

,,,,,,,,,,,

,,,,,,,,,,,

,,,,,,,,,,,

,,,,,,Total Amount Have to Pay,,,,,

,,,,,,,,,,12.5,

,,,,,,,,,,12500,

In [36]:
pm = pd.read_jpg("C:/Users/etiru/Downloads/ds_sp_projects/1.jpg")

AttributeError: module 'pandas' has no attribute 'read_jpg'

In [45]:
pm = open("C:/Users/etiru/Downloads/ds_sp_projects/test.txt","a")
pm.write(" the datascience is to protect data. where we have to insert in test.txt")

72